<a href="https://colab.research.google.com/github/Nikita-Gz/Telegram-data-EDA/blob/main/TelegramEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# extracts specified conversation dict

conversation_index_to_explore = 0
with open('result.json') as telegram_data_file:
  telegram_dict = json.load(telegram_data_file)
  conversation_dict = telegram_dict['chats']['list'][conversation_index_to_explore]['messages']

In [3]:
df = pd.DataFrame(conversation_dict)

In [4]:
def get_plain_text_from_entities(text_entities_list):
  text_strings = []
  for text_entity in text_entities_list:
    entity_text = text_entity['text']
    text_strings.append(entity_text)
  joined_text = ' '.join(text_strings)
  return joined_text

In [14]:
df = df.rename({'text': 'raw_text_data'}, axis=1)
df['plain_text'] = df['text_entities'].apply(get_plain_text_from_entities)
df['date'] = pd.to_datetime(df['date'])

In [26]:
# feature engineering
df['hour'] = df['date'].dt.hour
df['month'] = df['date'].dt.month
df['words_amount'] = df['plain_text'].apply(lambda x: len(x.split()))
df['symbols_amount'] = df['plain_text'].apply(lambda x: len(x))
df['is_weekend'] = df['date'].dt.dayofweek >= 5

In [29]:
df.groupby(['from', 'is_weekend'])['words_amount'].mean()

from    is_weekend
Андрей  False         4.702370
        True          4.266301
Никита  False         7.801656
        True          7.902250
Name: words_amount, dtype: float64

In [18]:
df

,id,type,date,date_unixtime,from,from_id,raw_text_data,text_entities,file,mime_type,...,location_information,message_id,place_name,address,emoticon,plain_text,hour,month,words_amount,symbols_amount
0,21570,message,2018-09-17 16:12:09,1537189929,Никита,user345078739,[ок вот материал моего конспекта по алгоритмиз...,"[{'type': 'plain', 'text': 'ок вот материал мо...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ок вот материал моего конспекта по алгоритмиза...,16,9,494,3165
1,21571,message,2018-09-17 16:12:11,1537189931,Никита,user345078739,блять,"[{'type': 'plain', 'text': 'блять'}]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,блять,16,9,1,5
2,21572,message,2018-09-17 16:12:16,1537189936,Никита,user345078739,тебе уже скинули,"[{'type': 'plain', 'text': 'тебе уже скинули'}]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,тебе уже скинули,16,9,3,16
3,21573,message,2018-09-17 16:12:28,1537189948,Никита,user345078739,rip,"[{'type': 'plain', 'text': 'rip'}]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,rip,16,9,1,3
4,21574,message,2018-09-17 16:12:40,1537189960,Никита,user345078739,зато у меня читаемо,"[{'type': 'plain', 'text': 'зато у меня читаем...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,зато у меня читаемо,16,9,4,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146663,349109,message,2022-10-04 13:55:17,1664880917,Никита,user345078739,я не понимаю почему он так хочет левых людей с...,"[{'type': 'plain', 'text': 'я не понимаю почем...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,я не понимаю почему он так хочет левых людей с...,13,10,11,58
146664,349141,message,2022-10-04 17:49:07,1664894947,Никита,user345078739,Мобильный клиент для Go очень очень медлит с у...,"[{'type': 'plain', 'text': 'Мобильный клиент д...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Мобильный клиент для Go очень очень медлит с у...,17,10,28,140
146665,349142,message,2022-10-04 17:49:07,1664894947,Никита,user345078739,"«Алиса, напомни остановить восстание машин чер...","[{'type': 'plain', 'text': '«Алиса, напомни ос...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"«Алиса, напомни остановить восстание машин чер...",17,10,7,53
146666,349143,message,2022-10-04 17:49:48,1664894988,Никита,user345078739,Или в nevermind когда уведомление пришло после...,"[{'type': 'plain', 'text': 'Или в nevermind ко...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Или в nevermind когда уведомление пришло после...,17,10,13,73
146667,349144,message,2022-10-04 18:09:28,1664896168,Андрей,user549677564,Пхпэаэаэаэаэаэаэ,"[{'type': 'plain', 'text': 'Пхпэаэаэаэаэаэаэ'}]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Пхпэаэаэаэаэаэаэ,18,10,1,16

In [21]:
df['date'].dt.dayofweek.max()

6

In [9]:
raw_df.dtypes

id                                int64
type                             object
date                             object
date_unixtime                    object
from                             object
from_id                          object
text                             object
text_entities                    object
file                             object
mime_type                        object
edited                           object
edited_unixtime                  object
forwarded_from                   object
photo                            object
width                           float64
height                          float64
reply_to_message_id             float64
thumbnail                        object
media_type                       object
sticker_emoji                    object
duration_seconds                float64
poll                             object
self_destruct_period_seconds    float64
performer                        object
title                            object
actor                            object
actor_id                         object
action                           object
discard_reason                   object
location_information             object
message_id                      float64
place_name                       object
address                          object
emoticon                         object
dtype: object